@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
$color1: #0c0d13;
$color2: #0d1d31;
$color3: rgb(142, 221, 255);
$monospace: "Courier New", Courier, monospace;
$montserrat: "Montserrat", sans-serif;
$hand-write: "Berkshire Swash", cursive;
.enable {
  display: block;
}
.disable {
  display: none;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.web {
  display: block;
}
.mobile {
  display: none;
}
@media (max-width: 500px) {
  .web {
    display: none;
  }
  .mobile {
    display: block;
  }
}
