@import "../../index.scss";

main {
  .school-name {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 22px;
    color: white;
  }
  .school-id {
    font-size: 12px;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .address {
    font-size: 14px;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .date {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    color: white;
  }
  .admin-left {
    padding: 50px 0px;
    flex: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // background-color: rgba(0, 0, 0, 0.524);
    color: white;
    height: 100%;
    p {
      font-size: 22px;
      margin-bottom: 10px;
    }
    button {
      font-family: "Courier New", Courier, monospace;
      font-size: 16px;
      border-radius: 5px;
      width: 200px;
      padding: 12px 24px;
      border: 1px solid $color3;
      background-color: $color1;
      color: rgb(226, 242, 255);
      cursor: pointer;
      margin-bottom: 50px;
    }
    .edit-question {
      margin-bottom: 0px;
    }
  }
  .admin-right {
    flex: 2;
    border-radius: 20px;
    padding: 50px 20px;
    // height: 100%;
    background-color: whitesmoke;
  }
}
